<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
  <h2>Bem vindo <%= @current_user.name %> !</h2>
  <ul>
    <li><%= link_to 'Pedidos', orders_path %></li>
    <li><%= link_to 'Produtos', products_path %></li>
    <li><%= link_to 'Usuários', users_path %></li>
  </ul>
  <%= button_to 'Logout', logout_path, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
